{{> header}}
{{!-- <form action="" class="main__form"> --}}
<input type="text" name="gamerName" placeholder="Type your name in the game" class="main__gamer-name">
<select name="platform" id="platform" class="main__platform">
    <option disabled value="platform">choose a platform</option>
    <option value="psn">psn</option>
    <option value="pc">pc</option>
    <option value="xbs">x box</option>
</select>
<input type="submit" value="Search" class="main__button">
{{!-- </form> --}}
<script src="js/dom.js"></script>